<div class="basic-run framed">
    <div class="user-info">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLf3qgV0HO3skIJtYI_wxWnMcN4mVX9PxoLQ&s" alt="User avatar">
        <div class="username">{{username}}</div>
    </div>

    <div class="run-body">
        <div class="run-content">
            {{#runTitle}}<div class="run-title">{{runTitle}}</div>{{/runTitle}}
            <div class="run-length">Distance: {{formattedDistance}} miles</div>
            <div class="run-time">Time: {{formattedElapsedTime}}</div>
            <div class="run-heart">Average Heart Rate: {{bpm}} bpm</div>
        </div>
        <div class="run-date">Run Date: {{formattedRunDate}}</div>
    </div>
</div>
