<div class="separator-bottom">
    <div class="title-bar content-center heading">
        <h1>STROOP</h1>
         <a href="/login">LOGOUT</a>
    </div>
</div>
<div class="links-div separator-bottom">
    <nav class="navbar content-center heading">
        <a href="/">HOME</a>
        <a href="/stats">STATS</a>
        <a href="/log-run">LOG A RUN</a>
        <a href="/trending">TRENDING</a>
        <a href="/groups">GROUPS</a>
        <a href="/create-group">CREATE GROUP RUN</a>
    </nav>
</div>
