<div class="share-row">
    <label class="share-label" for="{{toggleId}}">{{toggleLabel}}</label>
    <input id="{{toggleId}}" name="{{toggleName}}" type="checkbox" {{#toggleChecked}}checked{{/toggleChecked}} />
</div>