@font-face {
    font-family: Druk-Wide;
    src: url("/fonts/Druk-Wide-Medium.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("/fonts/Montserrat-VariableFont_wght.ttf");
}

.heading {
    display: flex;
    font-family: Druk-Wide;
}

.title-bar {
    background-color: rgb(187, 186, 186);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.links-div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    justify-content: space-between;
    padding-top: 2rem;
    text-decoration: none;
}

a {
    color: black;
    font-family: Montserrat;
    text-decoration: none;
    padding-right: 20px;
    padding-left: 10px;
}

hr {
    color: #00000057;
}