@font-face {
    font-family: Druk-Wide;
    src: url("/fonts/Druk-Wide-Medium.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("/fonts/Montserrat-VariableFont_wght.ttf");
}

.heading {
    display: flex;
    font-family: Druk-Wide;
}

.title-bar {
    background-color: rgb(187, 186, 186);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar {
    border: 1px solid red;
    text-decoration: none;
    display: flex;
    font-family: Montserrat;
    align-items: flex-end;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
    padding-right: 20px;
}

nav {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
