<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        {{> fragments/nav_bar }}
    </nav>

    <form action="/create-group" method="post">
        {{> fragments/centered_title }}

        {{> fragments/input_title }}

        {{> fragments/input_metrics }}

        {{> fragments/description_box}}

        {{> fragments/big_save_button }}
    </form>

</body>

</html>