<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        {{> fragments/nav_bar }}
    </nav>
    <hr/>
    <h1>Term project</h1>
    <p>Placeholder text</p>
</body>
</html>
