<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        {{> fragments/nav_bar }}
    </nav>
    <hr/>
    <main>
        <h3 id="recent-activity">RECENT ACTIVITY</h3>
        <div class="posts">
            {{> fragments/basic_run_card }}
            {{> fragments/runs_container }}
        </div>

    </main>
</body>
</html>
