<!DOCTYPE>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <nav>
        {{> fragments/nav_bar}}
    </nav>
    {{> fragments/centered_title}}

    <div class="stats-grid">
        <div class="stat-box">
            TOTAL RUNS<br><br>
            {{totalRuns}}
        </div>

        <div class="stat-box">
            TOTAL DISTANCE<br><br>
            {{totalDistance}}
        </div>

        <div class="stat-box">
            BEST TIME<br><br>
            {{bestTime}}
        </div>
    </div>
    {{> fragments/top_runs}}
</body>
</html>