<!DOCTYPE html>
<html>
<head>
    <title>Trending Groups</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<nav>
    {{> fragments/nav_bar }}
</nav>
<hr/>

<main class="page-groups">

    <h1 class="page-title">TRENDING GROUPS</h1>

    <section class="groups-section">
        {{#trendingGroups}}
            {{> fragments/groups_card }}
        {{/trendingGroups}}

        {{^trendingGroups}}
            <p class="empty-message">No trending groups right now.</p>

        {{/trendingGroups}}
    </section>

</main>
</body>
</html>
